<?xml version='1.0' encoding='utf-8'?>
<plugin
        id="cordova-plugin-yandex-ads"
        version="0.0.1"
        xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
>
    <name>cordova-plugin-yandex-ads</name>
    <description>Cordova plugin for Yandex Ads</description>
    <js-module src="www/yandexads.js" name="YandexAds">
        <clobbers target="YandexAds" />
    </js-module>

    <engines>
        <engine name="cordova" version=">=12.0" />
        <engine name="cordova-android" version=">=10.1.2" />
        <engine name="cordova-ios" version=">=7.0.1" />
    </engines>

    <platform name="android">

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="YandexAdsPlugin">
                <param name="android-package" value="io.luzh.cordova.plugin.YandexAdsPlugin" />
            </feature>
            <preference name="android-gradleVersion" value="8.4" />
            <preference name="android-minSdkVersion" value="22" />
            <preference name="android-targetSdkVersion" value="34" />
            <preference name="GradlePluginKotlinEnabled" value="true" />
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="com.google.android.gms.permission.AD_ID" />
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <meta-data android:name="com.google.android.gms.version"
                       android:value="@integer/google_play_services_version" />

            <activity android:name="com.my.target.common.MyTargetActivity" android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"/>
        </config-file>

        <source-file src="src/android" target-dir="java/io.luzh.cordova.plugin" />
        <framework src="src/android/yandexads.gradle" custom="true" type="gradleReference" />

        <framework src="com.android.support:support-v4:+" />
        <framework src="com.android.support:recyclerview-v7:27.1.1" />

        <resource-file src="src/android/jc.mp4" target="res/raw/jc.mp4" />
    </platform>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="YandexAdsPlugin">
                <param name="ios-package" value="YandexAdsPlugin" />
            </feature>
            <preference name="SwiftVersion" value="5.8" />
            <preference name="deployment-target" value="13.0" />
            <preference name="IPHONEOS_DEPLOYMENT_TARGET" value="13.0" />
            <preference name="ALWAYS_EMBED_SWIFT_STANDARD_LIBRARIES" value="YES" />
        </config-file>

        <source-file src="src/ios/Common.swift" />
        <source-file src="src/ios/OpenAppAdsExtension.swift" />
        <source-file src="src/ios/BannerAdsExtension.swift" />
        <source-file src="src/ios/InterstitialAdsExtension.swift" />
        <source-file src="src/ios/RewardedAdsExtension.swift" />
        <source-file src="src/ios/YandexAdsPlugin.swift" />
        <header-file src="src/ios/YandexAdsPlugin.h" />

        <podspec>
            <config>
                <source url="https://cdn.cocoapods.org/"/>
            </config>
            <pods use-frameworks="true">
                <pod name="YandexMobileAds" spec="~> 6.3.0" />
            </pods>
        </podspec>

        <framework src="YandexMobileAds.framework" />
        <framework src="YandexMobileMetrica.framework" />
    </platform>
</plugin>
