<?xml version='1.0' encoding='utf-8'?>
<plugin
        id="cordova-plugin-yandex-ads"
        version="0.0.1"
        xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
>
    <name>cordova-plugin-yandex-ads</name>
    <description>Cordova plugin for Yandex Ads</description>
    <js-module src="www/yandexads.js" name="YandexAds">
        <clobbers target="YandexAds" />
    </js-module>

    <engines>
        <engine name="cordova" version=">=11.0" />
        <engine name="cordova-android" version=">=10.1.2" />
        <engine name="cordova-ios" version=">=6.2.0" />
    </engines>

    <dependency id="cordova-plugin-add-swift-support"/>

    <platform name="android">

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="YandexAdsPlugin">
                <param name="android-package" value="io.luzh.cordova.plugin.YandexAdsPlugin" />
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="com.google.android.gms.permission.AD_ID" />
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <meta-data android:name="com.google.android.gms.version"
                       android:value="@integer/google_play_services_version" />

            <activity android:name="com.my.target.common.MyTargetActivity" android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"/>
        </config-file>

        <source-file src="src/android/YandexAdsPlugin.java"
                     target-dir="src/io/luzh/cordova/plugin" />
        <framework src="src/android/yandexads.gradle" custom="true" type="gradleReference" />

        <framework src="com.android.support:support-v4:+" />
        <framework src="com.android.support:recyclerview-v7:27.1.1" />

    </platform>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="YandexAdsPlugin">
                <param name="ios-package" value="YandexAdsPlugin" />
            </feature>
        </config-file>

        <header-file src="src/ios/YandexAdsPlugin.h" />
        <source-file src="src/ios/YandexAdsPlugin.m" />

        <podspec>
            <config>
                <source url="https://cdn.cocoapods.org/"/>
            </config>
            <pods use-frameworks="true">
                <pod name="YandexMobileAds" spec="~> 5.0.0" />
                <pod name="MyTargetYandexMobileAdsAdapters" spec="~> 5.14.4.0" />
<!--                <pod name="myTargetSDK" spec="~> 5.14.4" />-->
            </pods>
        </podspec>

        <framework src="YandexMobileAds.framework" />
        <framework src="YandexMobileMetrica.framework" />
        <framework src="MyTargetYandexMobileAdsAdapters.framework" />
<!--        <framework src="MyTargetSDK.framework" />-->


<!--        <framework src="Foundation.framework" />-->
<!--        <framework src="CoreLocation.framework" />-->
<!--        <framework src="CoreTelephony.framework" />-->
<!--        <framework src="CoreMedia.framework" />-->
<!--        <framework src="SystemConfiguration.framework" />-->
<!--        <framework src="StoreKit.framework" />-->
<!--        <framework src="AdSupport.framework" />-->
<!--        <framework src="SafariServices.framework" />-->
<!--        <framework src="AVFoundation.framework" />-->
    </platform>
</plugin>
